h1, h2 {
  color: #c0cb7f;
  font-family: Arial;
}

p {
   color: #5e5c56;
   font-family: Calibri;
}

body {
  background-color: black;
}

ul{
  color: #5e5c56;
   font-family: Calibri;
}

table{
  font-family: Calibri;
  background-color: #222222;
  border: 1px red;
  border-collapse: collapse;
 
}

td, ul, ol, dl{
  color: #5e5c56;
}

dt{
 color: red;
}

.small{
 size: 2px;
 text-align: center;
 color: #5e5c56;
}

a{
  color: #c0cb7f;
  text-decoration: none;
}

ul{
  list-style-type: square;
}

ol{
  list-style-type: lower-greek;
}

dt{
  font-style:  italic;
}