body{
  font-family: "Trebuchet MS","trebuchet","Helvetica",Sans-Serif !important;
}

/* NAV */
.topnav {
  overflow: hidden;
  background-color: #53CD8A;
  padding: 10px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #6C9B7D;
  color: black;
}

.topnav a.active {
  background-color: #386C5F;
  color: white;
}

.topnav-right {
  float: right;
}
/* NAV END */

/* BACKGROUND END */

.wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto;       
    }
    .box {
        padding: 10px;
        font-size: 100%;
        background-color: #007D8A;
        text-align: center;
    }

    .a {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end : 2;
    }
    .b {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end : 3;
    }
    .c {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end : 4;
    }
    .d {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end : 4;
    }
    .e{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end : 5;
        
    }
    .f{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end : 7;
    }
    .g {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end : 8;
    }
    .h {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end : 8;
    }    
    .i{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 7;
      grid-row-end : 8;
    }
    * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*----------footer------------*/
footer{
  width: 100%;
  background-color:white;
  padding: 60px 0px;
  text-align: center;
}