body{
  text-align: center;
}

/* BACKGROUND */
body {
  /* The image used */
  background-image: url("p/test.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* BACKGROUND END */

/* NAV */
body {
  margin: 0;
  font-family: Rockwell, Arial;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: DodgerBlue;
  color: white;
}

.topnav-right {
  float: right;
}
/* NAV END */

/* grid */
body {
  margin: 0;
}

.wrapper {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 30% 40% 30%;
        
    }

    .box {
        
        color: black;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        
    }

    .a {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .b {
        grid-column: 3 ;
        grid-row: 1;
    }
    .c {
        grid-column: 1 / span 2 ;
        grid-row: 2 ;
    }
    .d {
        grid-column: 3;
        grid-row: 2 ;
    }
    .e{
      grid-column: 1 / span 2;
      grid-row: 3;
    }
    .f{
      grid-column:3;
      grid-row: 3;
    }
/* grid END */