.yikes{
font-size: 100px;
} 

.button{
text-decoration: none;  
background-color: skyblue;
margin-right: 2px;
padding: 6px 12px;
color: black;
float: left;
}
ul{
position: relative;
list-style-type: none;  
    display: block;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}  
h1{
margin: auto;
}    

body {
   background-image:
   url('country-quilt-dark.png');
}


# = ID
